html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #555;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	background-image: url(img/bg.jpg);
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: initial;
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(249, 249, 249);
}

#label {
	color:#00b290;
	font-size:16px;
	font-family: 'Lato', sans-serif;
	padding:5px;
	border-radius: 3px;
	background-color: white;
	font-weight: 200;
	margin-right: 10px;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	float:left;
	border: 0px solid red;
	letter-spacing: .2px;
}

#labels {
	border: 0px solid red;
	width: 30%;
	height: 100px;
}

#values {
	margin-left: 100px;
	margin-top: -99px;
	width: 25%;
	height: 120px;
	border: 0px solid red;
}

#frequency, #volume {
	color:#fff;
	font-size:16px;
	width:100%;
	margin-bottom:20px;
	height:20px;
	background-color: orange;
	padding:5px;
	border-radius:3px;
	border:0px solid orange;
	font-weight: 300;
	margin-right: 10px;
}

#page-wrapper {
	width: 85%;
	margin: 3rem auto;
	padding: 1.2rem;
	background: #FFF;
	border: 0px solid #d6d6d6;
	border-top: 30px solid #00b290; 
	border-bottom: 30px solid #00b290; 
  	box-shadow: 0 0px 0px rgba(0,0,0,0.8);
  	border-radius: 20px;

}
#synth-pad {
	float: right;
	margin-right: 2%;
	width: 450px;
	height: 450px;
	border-radius: 3px;
	background: #666 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2P8+vWrJAMRgBGkkJub+zkhtaMK8YYQ0cEDABxGJwNr5yClAAAAAElFTkSuQmCC);
}

#synth-pad:hover {
	cursor: crosshair;
}

#info {
	margin-left: 0px;
	float:left;
	border: 0px solid red;
	padding-left: 1rem;
	padding-top: 1.5rem;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}

h1 {
	font-weight: normal;

}

p {
	line-height: 1.8rem;
}

.clearfix {
  	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
  	display: table;
  	line-height: 0;
  	content: "";
}

.clearfix:after {
  	clear: both;
}
